/*!
Theme Name: ak_touristik
Theme URI: http://underscores.me/
Author: Maria Aragon
Author URI: https://www.acocoweb.com
Description: AK Touristik Reisebüro WordPress Theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: ak_touristik
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

ak_touristik is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
# AK-Touristik Specifics
	## Reisefinder (Home) header
	## Footer
	## Reisefinder Page Styles
	## Reisefinder Search Results List
	## Single-Reise Page
	## AK General Pages
# Media Queries 
	## Phones
	## Tablet Portrait
	## Tablet Landscape
	## Desktop
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: #009900;
	font-family: "Garamond";
    font-style: italic;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* The sticky class is added to the header with JS when it reaches its scroll position */
.nav-sticky {
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 1;
	z-index: 2000;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.nav-sticky + .site-content {
	padding-top: 99px;
  }
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #009900;
}

a:visited {
	color: #007700;
}

a:hover, a:focus, a:active {
	color: #006335;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
	clear: both;
	display: block; 
	float: left;
	width: 100%;
	background-color: #666666;
	text-align: center;
	border-top: 3px;
	border-top-color: #009900;
	border-top-style: solid;
}

.main-navigation ul {
	display: none;
	list-style : none;
    list-style-type: none;
	margin: 0 0 -0.5em 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	float: left;
	position: relative;
	font-weight: 500;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	color: #fff;
}

.main-navigation a:hover {
	color: #ccebcc;
}

.main-navigation a:active {
	text-decoration: underline;
}

/* CSS to add AK-Touristik Logo to the navigation menu */

.ak-nav-logo {
    background-repeat: no-repeat;
	background-size: 100% 100%;  
	opacity: 0.7;
}

.main-navigation li.ak-nav-logo {
    padding-left: 5em;
	padding-right: 5em;
	height: 100%;
	    
}
.ak-nav-logo a {
    color: rgba(255,255,255,0);   
}

.ak-nav-logo a:hover {
    color: rgba(255,255,255,0);   
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	clear: both;
}

button.menu-toggle {
	position: absolute;
	top: 0px;
	right: 0;
	padding: 1em 0;
	margin: 0;
}

.navbar-toggler-icon {
	background-image: url('images/menu.svg');
	width: 20vw;
	height: 10vw;
}

.ak-nav-mobile img {
	height: auto;
	max-width: 50vw;
	opacity: 0.7;
}




button.menu-toggle {
	border-style: none;
	background-color: #666666;
}

button.menu-toggle:focus {
	outline-color: #009900;
}

@media screen and (min-width: 600px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: inline-block;
		margin: 0 0 -0.5em 0;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}



/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# AK-Touristik Specifics
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Reisefinder (Home) header
--------------------------------------------------------------*/

.ak-header {
    height: 80vh;
    display:flex;
    flex-wrap: wrap;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items:flex-end;
    
}
.ak-title {
    background-color: rgba(255,255,255,0.7);
    padding: 1em;
    border-radius: 10px; 
    text-align: center;

}

/* Custom CSS for FacetsWP */
div.facetwp-facet {
	margin-right: 1vw;
	margin-bottom: 2vh;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

.ak-footer {
	background-color: #404040;
	color: #ffffff;
	font-size: 0.8em;
}

.ak-footer a {
	color: #ffffff;
}

.footer_col_1 ul {
	margin:0 0 1.5em 0;
	padding: 0;
	list-style-type: none;
}

.footer_col_2 ul {
	margin:0 0 1.5em 0;
	padding: 0;
	list-style-type: none;
}

.footer_site_info ul {
	list-style-type: none;
  	margin: 0;
	padding: 0;
	overflow: hidden;
}
	
.footer_site_info li {
	float: left;
	margin-right: 2em;
}
  	
/*--------------------------------------------------------------
## Reisefinder Page Styles (Suche)
--------------------------------------------------------------*/

/*** Search Fields Bar  ***/
.reisefinder_search {
    background-color:rgba(102,102,102,0.75);
    width: 100vw;
    display: flex;
}

.ak-search-facets {
    display: flex;
    margin: auto;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

.ak-facet-label {
    color: #ffffff;
	font-size: 1em;
	margin-bottom: 0.5em;
}

.ak-search-facets * .fs-wrap {
    line-height: 2;
}

/* Style for Facet Type: Date */
.ak-search-facets * .facetwp-date  {
	line-height: 2.5;
	border-radius: 0px;	
	margin-right: 1vw;
}

/* Style for Facet Type: Dropdown */
.ak-search-facets * select.facetwp-dropdown {
    padding-top: 0.7em;
	padding-bottom: 0.7em;
	line-height: 1.3;
}

/* Style for Facet Type: Autocomplete */
.ak-search-facets * input.facetwp-autocomplete {
	line-height: 2.35;
	border-radius: 0px;
}

.ak-search-facets * input.facetwp-autocomplete-update {
	border-radius: 0px;
	background: #ffffff;
	line-height: 2.3;
}

/* Style for Facet Type: Search */
.ak-search-facets * input.facetwp-search {
	line-height: 2.35;
	border-radius: 0px;
}

/*--------------------------------------------------------------
## Reisefinder Search Results List
--------------------------------------------------------------*/

/* Classes applied to "reise-suche" template in FacetWP Plugin */
.ak-row-reise-suche {
	padding: 2.5em 10vw 2em 10vw;
}

/* Reise Info */
.ak-col-reise-suche-info {
	padding-left: 3vw;
}

.suche_reise_titel > a {
	font-weight: bold;
	font-size: 1.2em;
}

.suche_reise_untertitel {
	font-weight: bold;
}

.suche_reise_ab_preis {
	font-weight: bold;
	font-size: 1.2em;
}

.suche_reise_daten {
	font-weight: bold;
}

/* Button "Reise ansehen -->" */
.reise-ansehen-button > a > button{
	padding: 0.8em 1em;
	font-size: 1.2em;
	color: #ffffff;
	border-radius: 15px;
	background-color: #009900;
	border: none;
	box-shadow: 1px 1px 10px 5px #cecece;
	margin-top: 2em;
}

/* Reise Bild in Suche-Ergebnisse*/
.ak-reise-suche-bild > a > img {
	width:40vw;
	height:40vh;
	object-fit:cover;
}

/* alternate background color */
.ak-reise-suche-ergebniss > :nth-child(even) {
	background-color: #ececec;
}

/*--------------------------------------------------------------
## Single-Reise Page
--------------------------------------------------------------*/

.ak-reise-img-full {
	width:100vw;
	height: 80vh;
	object-fit: cover;
 }
 
 .reise-sub-nav {
	padding: 1em; 
	margin-bottom: 1em;
	border-bottom: 1px solid #ececec;

 }

 ul.reise-sub-nav-menu {
	margin:0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
	
.reise-sub-nav-menu li {
	float: left;
	margin-right: 3em;
 }

 .reise-sub-nav-menu li a {
	 color: #000000;
 }

 .reise-sub-nav-menu li a:active,
 .reise-sub-nav-menu li a:hover  {
	color: #009900;
	text-decoration: underline; 

}

 .reise-title {
	font-size: 2.5em;
 }
 
 .reise-untertitel {
	font-weight: bold;
	font-size: 1.2em;
 }
 
 .reise-info {
	 background-color: #a7d5bb;
	 padding: 1em;
	 border-left: 3px solid #009900;
 }
 
 .tagsubline {
	 font-family: "Garamond";
	 font-style: italic;
	 font-size: 1.5em;
	 color: #009900;
  
 }
 
 .ak-label {
	 color: #000000;
	 font-size: 1.2em;
	 font-style: normal;
	 font-weight: bold;
	 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 /* Der Titel für "Unsere Leistungen" kommt als <b> in den Daten (nicht als h3) */
 /* Muss dann speziel angepasst werden */
.reise-leistungen b {
	color: #000000;
	font-size: 1.2em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
 .ak-buchen-btn {
	 background-color: #009900;
	 font-size:1.5em;
	 font-weight: 600;
	 padding: 0.5em 1em;
	 margin-top: 1em;
	 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
  
 .reise-hero-image {
	 width:100vw;
	 height: 80vh;
 }
 .size-banner-image,
 .reise-hero-image > img  {
	 height: 80vh;
	 width: 100vw;
	 object-fit: cover;
 }

 /* Hide DIV: used to hide additional header images from the start, withouth JS */
 .ak-hidden {
	 display: none;
 }
 
 .reise-beschreibung b {
	font-family: "Garamond";
	font-style: italic;
	font-size: 1.5em;
	color: #009900;
 } 
 
 .ak-anchor {
    display: block;
    position: relative;
    top: -99px;
    visibility: hidden;
 }

/* Bottom green box */

.ak-reise-bottom-green-box {
	background-color: #009900;
	color: #ffffff;
}

.ak-white-label {
	color: #ffffff;
	font-size: 1.2em;
	font-weight: bold;
}

/*--------------------------------------------------------------
/* ## AK General Pages
/--------------------------------------------------------------*/

.ak-end-page {
	margin-bottom: 10vh;
}

.media-text-last {
	margin-bottom: 5em;
}


/*--------------------------------------------------------------
/* # Media Queries
--------------------------------------------------------------*/ 

/*--------------------------------------------------------------
/* ## Phones
/--------------------------------------------------------------*/
@media (max-width: 599px) {

	/* Phones Navigation */
	.main-navigation li {
		float: none;
		padding: 1em ;
		font-size:  14px;
	}
	/* Hides the menu point that shows the logo, not needed in phones */ 
	.main-navigation li.ak-nav-logo {
		display:none;
	}

	/* Hide standard header */
	.ak-header {
		display: none;
	}

	/*** Phones: Search Fields Bar  ***/
	.reisefinder_search_phone {
		background-color: #666666;	
		text-align: center;
	}

	.ak-search-filters-toggle, 
	.reisefinder_search_phone.toggled {
		display: block;
	}

	.ak-search-filters-toggle .custom-html-widget  {
		display: none;
	}
	
}

/*--------------------------------------------------------------
/* ## Tablet Portrait 
--------------------------------------------------------------*/

/* Tablet Portrait Navigation */
@media (min-width: 600px) and (max-width: 899.98px) {
	.main-navigation li {
		padding: 1.5em 0.7em;
		font-size:  12px;
	}

	.main-navigation li.ak-nav-logo {
		padding-left: 4em;
		padding-right: 4em;
	}
	
	/* Hide phone header */ 
	.ak-header-phones {
		display: none;
	}
}

/*--------------------------------------------------------------
/* ## Tablet Landscape 
--------------------------------------------------------------*/

/* Tablet Landscape Navigation */
@media (min-width: 900px) and (max-width: 1199.98px) {
	.main-navigation li {
		padding: 2em 0.8em;
		font-size:  14px;
	}
	.main-navigation li.ak-nav-logo {
		padding-left: 4.5em;
		padding-right: 4.5em;
	}

	/* Hide phone header */ 
	.ak-header-phones {
		display: none;
	}
}

/*--------------------------------------------------------------
/* ## Desktop 
--------------------------------------------------------------*/

/* Desktop Navigation */
@media (min-width: 1200px) {
	.main-navigation li {
		padding: 2.3em 1.5em;
		font-size:  16px;
	}

	/* Hide phone header */ 
	.ak-header-phones {
		display: none;
	}
}


